; --- [ .dynamic section ] -----------------------------------------------------

; Dynamic tags.
DT_NULL   equ 0  ; Terminating entry.
DT_NEEDED equ 1  ; String table offset of a needed shared library.
DT_PLTGOT equ 3  ; Processor-dependent address.
DT_HASH   equ 4  ; Address of symbol hash table.
DT_STRTAB equ 5  ; Address of string table.
DT_SYMTAB equ 6  ; Address of symbol table.
DT_JMPREL equ 23 ; Address of PLT relocations.

dynamic_align equ 4

align dynamic_align, db 0x00

dynamic_off equ rw_seg_off + ($ - $$)

dynamic:

  .strtab:
	dd      DT_STRTAB	; tag: Entry type.
	dd      dynstr	; val: Integer/Address value.

.entsize equ $ - dynamic
{{ with .Exports }}
  .hash:
	dd      DT_HASH	; tag: Entry type.
	dd      hash	; val: Integer/Address value.
{{ end }}
  .symtab:
	dd      DT_SYMTAB	; tag: Entry type.
	dd      dynsym	; val: Integer/Address value.

  .jmprel:
	dd      DT_JMPREL	; tag: Entry type.
	dd      rel_plt	; val: Integer/Address value.

  .pltgot:
	dd      DT_PLTGOT	; tag: Entry type.
	dd      got_plt	; val: Integer/Address value.

{{- range .Libs }}

  .{{ .Name }}:
	dd      DT_NEEDED	; tag: Entry type.
	dd      dynstr.{{ .Name }}_off	; val: Integer/Address value.

{{- end }}

  .null:
	dd      DT_NULL	; tag: Entry type.
	dd      0	; val: Integer/Address value.

.size equ $ - dynamic

; --- [/ .dynamic section ] ----------------------------------------------------

