; --- [ .interp section ] ------------------------------------------------------

interp_off equ interp - BASE_R_SEG

interp:

	db      "/lib/ld-linux.so.2", 0

interp.size equ $ - interp

; --- [/ .interp section ] -----------------------------------------------------

