; --- [ .interp section ] ------------------------------------------------------

interp_off equ interp - $$

interp:

	db      "/lib/ld-linux.so.2", 0

.size equ $ - interp

; --- [/ .interp section ] -----------------------------------------------------

